#cover {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.2) url('/loading.gif') center no-repeat;
    z-index:9999;
    display: none;
}

.submit input {
    width: 220px;
    height: 40px;
    background-color: #474E69;
    color: #FFF;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    cursor: pointer;
}

.submit input:disabled {
    width: 220px;
    height: 40px;
    background-color: #777;
    color: #FFF;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    cursor: default;
}

button {
    width: 220px;
    height: 40px;
    background-color: #474E69;
    color: #FFF;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    cursor: pointer;
}

button:disabled {
    width: 220px;
    height: 40px;
    background-color: #777;
    color: #FFF;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    cursor: default;
}